/build
/install
/log
/extra
/rosbags/*
!rosbags/code-example.md
!rosbags/record_marine_simulation.sh
!rosbags/play_bag_rviz.sh
src/unitree-go2-ros2
# lo ignoro porque es un repo aparte 

drone_camera_test

# Videos generados por image_view
output.avi
*.avi
*.mp4

# Imagenes generadas / datasets
*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff

# CSV generados
*.csv

# Python venv y datasets
marine_robot_dataset/venv/
marine_robot_dataset/datasets/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
